[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "optmatch"]
	path = optmatch
	url = https://github.com/markmfredrickson/optmatch
[submodule "rrelaxiv"]
	path = rrelaxiv
	url = https://github.com/josherrickson/rrelaxiv
	registered = false
